/*
* @Author: Yvan-Chen
* @Date:   2017-08-29 10:20:39
* @Last Modified by:   Yvan-Chen
* @Last Modified time: 2017-09-21 10:14:14
*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background:     #555;

}

.header{
    width: 100%;
    height: 30px;
    /*background: #ddd;*/
}

.haizi{
    width: 1000px;
    height: 780px;
    margin: 0 auto;
    background: #ddd;
}

.haizi img{
    width: 90%;
    width:90%;
    margin-top: 50px;
    margin-left: 50px;
}

.deng{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    /*background: #333;*/
}

.deng p{
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    margin-top: 10px;
    color: #fff;
}

.maodian{
    width: 1000px;
    height: 1px;
    background: #eee;
    margin: 0 auto;
}
.MyPicture{
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-top: 100px;
    border-radius: 20px;
    background: #ccc;
}

.MyPicture img{
    width: 90%;
    height: 90%;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav{
    margin-top: 50px;
}

ul{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
}

li{
    list-style: none;
    float: left;
    font-size: 18px;
    padding-left: 135px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #efabca;
}

.MyProject{
    width: 1000px;
    height: 700px;
    /*background: #ccc;*/
    margin: 0 auto;
}

.PROJECTS{
    width: 1000px;
    height: 300px;
    background: #000;
    margin-top: 100px;
}

.pjt{
    width: 430px;
    height: 300px;
    /*background: #ff0022;*/
    float: left;
    margin-left : 45px;
    border-radius: 5px;
}

.imgs{
    width: 430px;
    height: 250px;
    background: red;
}

.text{
    width: 430px;
    height: 50px;
    background: #666;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.imgs1{
    background: #DFFFDF;
}

.imgs2{
    background: #E8CAFF;
}

.imgs3{
    background: #Fafad2;
}

.imgs4{
    background: #99BBFF;
}

.icon{
    height: 250px;
    width: 200px;
    /*background: red;*/
    margin: 0 auto;
}

.icon img{
   margin-left: 30px;
   margin-top: 60px;
}

.icon1:hover{
    background: #ccc;
}

.icon2:hover{
    background: #ccc;
}

.icon3:hover{
    background: #ccc;
}

.icon4:hover{
    background: #ccc;
}

.hr1{
    border-bottom: 1px solid #ccc;
    margin-top: 80px;
}

.contact{
    width: 1000px;
    height: 200px;
    /*background: yellow;*/
}

.email{
    width: 500px;
    height: 100px;
    /*background: #ccc;*/
    float: left;
    margin-top: 50px;
}

.phone{
    width: 500px;
    height: 100px;
    /*background: #fa6789;*/
    float: left;
    margin-top: 50px;
}

p{
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.hr2{
    border-bottom: 1px solid #ccc;
}

.links{
    width: 1000px;
    height: 100px;
    line-height: 100px;
    margin-top: 80px;
}

nav{
   text-align: center;
   font-size: 14px;
   color: #fff;
}

.footer{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
}
